@media screen and (min-width: 360px) {
}

body {
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
}


.header {
    background-color: #dd86f5;
    padding: 20px;
    text-align: center;
    font-family: "p22-flw-exhibition", sans-serif;
    font-weight: 400;
    font-size: xx-large;
    font-style: normal;
    text-shadow: 2px 2px #ffffff;

}


.slogan {
    text-align: center;
    font-family: "monarcha", serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
}

#navbar {
    position:static;
    text-align: center;
    top: 0;
    overflow: hidden;
    background-color: #6fb48e;
    font-family: "josefin-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#ffffff;
    display:flexbox;
}

a:link {
    color:#ffffff;
}


.titles {
    text-align: center;
    font-family: "lucy-rose", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size:xx-large;
}

.story {
    text-align: left;
    font-family: "josefin-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.subtitles {
    text-align: left;
    font-family: "lucy-rose", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
}

.foodname {
    font-family: "monarcha", serif;
    font-weight: 400;
    font-style: normal;
    font-size:medium;
}

.descriptions {
    text-align: left;
    text-decoration: none;
    font-family: "new-order", sans-serif;
    font-weight: 400;
    font-style: normal; 
}

.descriptions2 {
    text-align: center;
    text-decoration: none;
    font-family: "new-order", sans-serif;
    font-weight: 400;
    font-style: normal; 
}

.images {
    text-align: center;
}

.column {
    column-count: 2;
    column-gap: 100px;

}